body{
    background-color: #edf7f8;
}

.problem-detail-container{
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.problem-detail-container h1{
    color: #8f87f1;
}

.problem-detail-container h2{
    color: #555;
    margin-top: 30px;
}

.problem-header{
    width: 100%;
    margin: 30px auto 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-problemDetail{
    width: 300px;
    height: 60px;
    object-fit: contain;
    border-radius: 25px;
    cursor: pointer;
    transition: transform .3s ease;
}

#back-problemDetail{

    margin-right: 3rem;
    padding: 12px 28px;

    border: 2px solid #8f87f1;
    border-radius: 12px;

    background: white;
    color: #8f87f1;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: all .3s ease;
}

#back-problemDetail:hover{

    background: #8f87f1;
    color: white;

}



.editor-actions{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

/* Buttons */

.run-btn,
.submit-btn{
    padding: 12px 28px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

/* Run Button */

.run-btn{
    background-color: white;
    color: #8f87f1;
    border: 2px solid #8f87f1;
}

.run-btn:hover{
    background-color: #8f87f1;
    color: white;
    box-shadow: 0 8px 20px rgba(143,135,241,.25);
}

/* Submit Button */

.submit-btn{
    background-color: #8f87f1;
    color: white;
}

.submit-btn:hover{
    background-color: #7b72eb;
}

/* Section Headings */

.section-title{
    margin-top: 30px;
    margin-bottom: 12px;
    color: #6f63ff;
    font-size: 22px;
    font-weight: 700;
}

/* Custom Input */

.custom-input{
    width: 100%;
    min-height: 140px;
    padding: 18px;
    border: 2px solid #dcd6ff;
    border-radius: 16px;
    background: rgba(255,255,255,.92);
    font-size: 15px;
    line-height: 1.6;
    resize: vertical;
    outline: none;
    transition: all .3s ease;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(143,135,241,.08);
}

.custom-input::placeholder{
    color: #9c9c9c;
}

.custom-input:focus{
    border-color: #8f87f1;
    box-shadow:
        0 0 0 5px rgba(143,135,241,.15),
        0 10px 25px rgba(143,135,241,.12);
}

/* Output */

.output-box{
    width: 100%;
    min-height: 180px;
    margin-top: 12px;
    padding: 20px;
    background: #2d2d39;
    border: 2px solid #8f87f1;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    overflow-x: auto;
    transition: box-shadow .3s ease;
    color: white;
}
 

.output-box pre{
    margin: 0;
    color: #f5f5f5;
    font-size: 15px;
    line-height: 1.7;
    font-family: "Consolas","Courier New",monospace;
    white-space: pre-wrap;
    word-break: break-word;
}

